<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geometry Dash</title>
    <link rel ='stylesheet' href ='/static/style.css'>
</head>
<body>
<h1>Geometry Dash</h1>
<p>Geometry Dash — компьютерная игра, соединяющая жанры 2D-платформера и ритм-игры,
  выпущенная изначально для мобильных устройств на iOS/Android, позже и для PC.
  Создатель игры — шведский разработчик Роберт Топала, выступающий под псевдонимом RobTop.
  Игровой процесс заключается в прохождении уровня со множеством препятствий под ритмичную музыку.
  Помимо этого в игре можно создавать собственные уровни и выкладывать их на сервера,
  из-за чего вокруг игры сложилось активное сообщество фанатов</p>
<a href ='https://ru.wikipedia.org/wiki/Geometry_Dash'>Кликай сюда для большей информации</a>
<br>
<img src ='/static/Geometry_Dash_Icon.svg' width ='300'>

</body>
</html>