<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Terraria</title>
    <link rel ='stylesheet' href ='/static/style.css'>
</head>
<body>
<h1>Terraria</h1>
<p>Terraria — компьютерная игра в жанре приключенческой песочницы,
  разработанная американской студией Re-Logic.
  Была выпущена в 2011 году для компьютеров Microsoft Windows с распространением через систему цифровой дистрибуции Steam.
  После выхода Terraria была портирована на другие операционные системы для персональных компьютеров и мобильных устройств,
  а также на игровые приставки. Компания Codeglue издала игру для мобильных устройств,
  а 505 Games, Spike Chunsoft и Pipeworks — для игровых приставок.
  Студия Spike Chunsoft локализировала игру в Японии, Headup Games — в Германии.</p>
<a href ='https://ru.wikipedia.org/wiki/Terraria'>Кликай сюда для большей информации</a>
<br>
<img src ='/static/Terraria.jpg' width ='500'>
</body>
</html>